<app-navbar [open]="open" (event)="open=$event"></app-navbar>
<div class="mainpanel">
    <div style="width: 100%;height:100%; margin-top: 5%;letter-spacing: 1px;">
  <div class="col-12"></div>
  <div class="container">
  <div class="col-12"> <h2>About Celebal Technologies</h2></div>
  <hr/>

  <div class="col-12 text-justify"> 
    <span class="comp-name">Celebal Technologies</span> is a niche player in Enterprise Analytics Solutions and Services. We specialize in Emerging Technologies and Trends such as Artificial Intelligence, Machine Learning and Enterprise Cloud.
  
  </div>
  <br />  
<br />
  <div class="col-12"> 
<h2>Celebal Tech’s Key Differentiators in Analytics Services</h2>
  </div><hr style="border-top: 2px solid rgba(0, 0, 0, 0.1) " />
<div class="col-12 text-justify">
<ul>
<li>Cutting Edge Technologies (Latest ML frameworks, Chatbots, Blockchain etc.).</li>
<li>Conceptualize to *Productionize – Putting ML to work (*Not Just Hello World ).</li>
<li>Integration with Traditional Business Apps (SAP / ERP, CRM etc.).</li>
<li>Focus on Value-Add for the Business and Commitment towards Delivery.</li>
</ul> 
  </div>
  <br />  
  <div class="col-12"> 
<h2>Our Technology Landscape</h2>
  </div><hr style="border-top: 2px solid rgba(0, 0, 0, 0.1) "/>
<div class="col-12 text-justify">
<ul>
<li>Machine Learning and Deep Learning.</li>
<li>Microsoft Azure Suite and Services.</li>
<li>Azure ML and Cortana Services.</li>
<li>Chatbots using LUIS framework.</li>
<li>Business Intelligence and Reporting.</li>
<li>Enterprise Cloud Platforms and Warehousing.</li>
<li>Microsoft Dynamics CRM/365.</li>
<li>Web Development with Angular JS, React JS , Javascript and D3.</li>
<li>Blockchain - Ethereum.</li>
<li>Data Integration and Migration Services.</li>

</ul>
  </div>
  <br />  
<br />
  </div>
</div>
