.custom-day {
    /* text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem; */
    text-align: center;
    /* padding: .185rem .25rem; */
    display: inline-block;
    /* height: 2rem; */
    /* width: 2rem; */
    /* border-radius: 50%; */
    border: 1px solid;
    width: 2rem !important;
    height: 2rem !important;
    /* line-height: 39px; */
    /* margin-top: 14px; */
    /* background-color: #ed4749 !important; */
    /* margin-left: 12px; */
    line-height: 26px;
    margin-top: 6px;
    margin-left: 4px;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background: #e44721;
    color: #fff;
    border: none;

}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.has-danger {
    border-color: red;
    border-style: solid;
}

.has-success {
    border-color: green;
    border-style: solid;
}

*:focus {
    outline: none !important;
    box-shadow: none;
}